@import 'helpers/variaveis.scss';
@import 'helpers/mixins.scss';

/*Comum*/

.clear {  clear:both;  }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {background: transparent;border: 0;margin: 0;padding: 0;vertical-align: baseline;}
body {background: #FFFFFF; color: #747474;  font-family: 'Montserrat', 'open Sans', sans-serif;  font-size: 14px;  line-height: 25px;font-weight:300;  }
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure {font-weight: 300;  margin-bottom: 20px;  line-height: 25px; color: #000;  }
h1, h2, h3, h4, h5, h6{  color: #555;font-weight:500;  }
pre {  overflow: auto;  width: 98%;  }
embed {  max-width: 100%;  }
ol{  list-style: decimal outside none;  }
ul{  list-style-type: disc;  }
dl {  margin: 0 0 24px;  /*float: left;*/  }
dt {  font-weight: 400;  }
dd {  margin-bottom: 18px;  }
blockquote {  background-color: #F54336; border-radius: 5px 0 0; border-right: 4px solid #444;  font-size: 14px;  font-style: italic;  padding:8px 5px 8px 20px;  margin-right: 10px;  margin-bottom: 10px;  color: $cor-template-original;  quotes: none;  }
cite{  font-weight: 400;  }
blockquote cite a{color: $cor-template-original;}
iframe { max-width: 100%; width:100%;outline: none;border:none;overflow:hidden;  }
blockquote:before, blockquote:after {  content: '';  content: none;  }
del {  text-decoration: line-through;  }

/* tables still need 'cellspacing="0"' in the markup */
table {  border-collapse: collapse;  border-spacing: 0;  }
th{  color:$cor-template-original; text-align: center;font-weight: 300;  }
th,td{border: 1px solid #DADBDF;font-size: 16px;height: 42px;padding: 0;vertical-align: middle;width: 50px; text-align: center;}
a img {  border: none;  }
a {  text-decoration: none;}
a, img, a img, input[type="text"], input[type="password"], input, textarea {  	outline:none;  }

/*Single Page*/

.thumbnail-post-single{
  text-align: center;
  margin: 30px 0;
}

.thumbnail-post-single img {
  width: 400px;
  height: 70px!important;
  object-fit: contain;
}

/*FIm Single Page*/

/*Fim comum */